<header >
  <nav class="navbar navbar-expand-lg bg-dark" style="background-color:{{site.theme.navbar.backgroundColor}} !important;color:{{site.theme.navbar.color}}">
    <a class="navbar-brand" href="#" style="color:{{site.theme.navbar.color}}">&nbsp;&nbsp;&nbsp{{site.brandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        {% for item in site.menus %}
          <li class="nav-item">
            <a href="{{ item.url }}" class="nav-link" style="color:{{site.theme.navbar.linkColor}}" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a>
          </li>
        {% endfor %}

      </div>
    </nav>
  </header>