<!doctype html>
<html lang="en">
  <head>
    <title>{{organization.name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=McLaren&family=Special+Elite&display=swap" rel="stylesheet">
    <link href="/_assets/css/style.css" rel="stylesheet"/>
    <script src="js/getNoOfTopics.js" defer></script>

  </head>
  <body>
    {% block header %}
      {% include "components/header.njk" %}
    {% endblock header %}
    <div class="container">

      <div class="col-xs-12 col-md-12 col-lg-12">
        <header class="post_head" id="title">
          <h4>
            <font color="cadetblue" class="ng-binding"> All Courses </font>
          </h4>

        </header>
      </div>
      <div class="row">
        {% block content %}

          <div class="col-6">
            <div class="card  h-100">
              <div class="card-header">
                <font color="cadetblue">
                  <b class="ng-binding">
                    Organizations</b>
                </font>
              </div>
              <div class="card-body">

                <a href="{{organization.code}}">{{organization.name}}</a><br/>
                <ul>
                  {%- for categoryObj in organization.categories %}
                    {{categoryObj.name}}
                  {% endfor -%}
                </div>
              </div>
            </div>
          </div>
        {% endblock content %}
      </div>
    </div>
  </div>
</div>
</body>
</html>