---
layout: layouts/homepage.njk
title: HomePage
pagination:
    data: categories
    alias: categoryObj
eleventyNavigation:
  key: Home
  order: 1
---

<div class="col-6">
  <div class="card  h-100">
    <div class="card-header">
        <font color="cadetblue">
               <b class="ng-binding"> categoryObj.category</b>
        </font>
    </div>
    <div class="card-body">
        
         for course in categoryObj.courses 
  <a href="courses/{{course.code}}/">{{course.code}} - {{course.title}}</a><br/>
 endfor -

    </div>
  </div>
</div>
</div>