---
layout: layouts/courselist.njk
title: Organization
pagination:
    data: organizations
    size: 1
    alias: organization
permalink: "{{organization.code}}/index.html"
eleventyNavigation:
  key: Home
  order: 1
---

<h3>Organization</h3>